body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F6F5F0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container h4 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
}

/* #fab77233 */

.container {
  max-width: 1400px;
}

.labelLeft {
  display: block;
  text-align: left;
  font-weight: bold;
}

.btn {
  background-color: black;
  color: #F6F5F0;
  border-color: black;
  padding: 10px 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.btn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.nav {
  position:fixed;
  top:0;
  width: 100%;
  z-index: 1000;
  padding-left: 0;
  border-bottom: rgba(0, 0, 0, 0.37) solid 1px;
  box-shadow: 0 2px 1px rgba(0,0,0,0.1);
  background-color: #F6F5F0;
}
.nav-item {

  transition: transform 0.3s ease;
}

.nav-item:hover {
  transform: scale(1.1); 
}


.nav-item:first-child {
  padding-left: 50px; 
}


.nav-link {
  color: black;
  font-weight: bold
}

.container-login{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.form-control {
  width: 100%;
  margin: auto;
  border-radius: 0px;
  border-width: 2px;
  border-color: #0000002b;
  border-radius: 8px;
}

.form-group{
  margin-bottom: 10px;
}

.container-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-container {
  border: 1px solid rgba(0, 0, 0, 0.11);
  padding: 10px;
  margin: 10px 10px 30px 10px;
  border-radius: 5px;
  border-width: 2px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  height: 400px;
  max-height: 600px;
  overflow: auto;
  word-wrap: break-word!important;
  z-index: 10;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
  background-color: rgba(250, 128, 114, 0.158);
  transition: transform 0.3s ease;
}

.blog-container:hover {
  transform: scale(1.05);
}


.custom-col {
  flex: 0 0 31%; 
  max-width: 31%; 
}

.text-muted{
  margin-top: auto;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center; 
  margin-bottom: 10px; 
}


.author-info {
  margin-top: auto; 
  margin-bottom: 10px; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.quill-editor {
  border: 1px solid black;
}

.login-box{
  background-color:#fab77233 ;
  padding:60px;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  border: solid 1px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  background: linear-gradient(45deg, #fab77233, #F6F5F0, #fab77233);
  background-size: 200% 200%;
  animation: gradientShift 30s infinite;
}

.login-box:hover {
  transform: scale(1.05); 
}

.nav-item.icon-item {
  display: flex;
  align-items: center;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animated-text {
  animation: fadeInScale 1s ease-in-out;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  margin-left: 10px;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
 
}
